body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.miSpan {
    color: #BE342C;
    margin-left: 100px;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}
.healthSpan {
    color: #9AC548;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.navBar {
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.navMenu {
    margin-right: 45px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}